@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: #313a48;
    --dark-grayish-blue: #202733;
    --white: white;
    --body-font: "Manrope", sans-serif;
  }

* {
    margin: 0;
    padding: 0;
  }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    background-color: var(--dark-grayish-blue);
}

.parallax {
    /* The image used */
    background-image: url("../../assets/bg-img.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
main {
    display: flexbox;
    background-color: rgb(79, 231, 41);
    transition: 1s ease-in-out;
}

.flex-container {
    margin: 2rem;
    padding: 20px;
    color: var(--neon-green);
}

.button-container > button {
    background-color: rgb(79, 231, 41);
    color: darkgreen;
    text-transform: uppercase;
}