@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: #313a48;
    --dark-grayish-blue: #202733;
    --white: white;
    --body-font: "Manrope", sans-serif;
  }

* {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #313a48;
    color: rgb(79, 231, 41);
    font-family: var(--body-font);
  }