/*
 * ─── IMPORTS ────────────────────────────────────────────────────────────────────
 */
 @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");




/*
 * ─── GLOBALS ────────────────────────────────────────────────────────────────────
 */

* {
	
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

.parallax {
    /* The image used */
    background-image: url("../../assets/bg-img.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
main {
    display: flexbox;
    background-color: rgb(79, 231, 41);
    transition: 1s ease-in-out;
}

.col {
  border: 3px solid hsl(150, 100%, 66%);
  border-radius: 10px;
  padding: 0px;
  margin: 0;
  text-align: center;
}

.cta-container {
  display: flex;
  flex-direction: row;
  background-color:hsl(150, 100%, 66%);
  border: 3px solid rgb(38, 112, 19);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.openBtn {
  padding: 10px;
  margin: auto;
}

input {
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 3px solid rgb(38, 112, 19);
  color:rgb(38, 112, 19);
  transition: all ease-in-out 0.3s;
}

input:hover {
  background-color: hsl(150, 100%, 66%);
  box-shadow: -1px 1px 88px 12px rgb(79, 231, 41);
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
}

.flex-container {
  margin: auto;
}

img {
  height: 100%;
  width: 100%;
}

.text-container {
  background-color:rgba(36, 56, 31, 0.9);
  padding: 10px;
  height: 100%;
}

.text-title {
  color: hsl(150, 100%, 66%);
  padding-top: 10px;
}

.text-body {
  color: #fff;
  line-height: 1.6rem;
  padding: 10px;
}
/* ──────────────────────────────────────────────────────────────────────────────── */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: hsl(150, 100%, 66%);
}

.footer-p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:rgb(23, 54, 16);
  text-shadow: #000 1px;
}